@charset "utf-8";
.about{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;

}
main{
    max-width: 1880px;
    border-right: solid #2c82a6;
    border-left: solid #2c82a6;
    margin: 0 auto;
}
h2{
font-family: quincy-cf, serif;
font-weight: 700;
font-style: normal;
color: #2c82a6;
font-size: 6.7vw;
padding:146px 0 115px ;
text-align: center;
margin: 0 auto;
}

.about_nav ul{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    font-size: 21px;
    padding-bottom: 132px;
}

.about_nav ul li a {
    text-decoration: none;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .3s;
    position: relative;
    padding: 0 10px;
    text-align: center;
    opacity: 1.0;
  }
  
.about_nav ul li a::after {
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    width: 0;
     height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #2c82a6;
    border-width: 7.5px 0px 7.5px 12.99px; 
    transition: .6s;
    opacity: 0;
  }

  .about_nav ul li a:hover {
    color: #2c82a6;
  }
  
  .about_nav ul li a:hover:after {
    opacity: 1;
    transform: rotateY(360deg);
  }
h3{
font-family: quincy-cf, serif;
font-weight: 700;
font-style: normal;
color: #2c82a6;
font-size: 3.1vw;
text-align: left;
margin: 0 auto;
padding-bottom: 115px;
}

.profile_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 155px;
}
.profile_img{
    flex-shrink: 0;
    width: 350px;
    height: auto;
    box-shadow: 10px 10px 4px #ccc;
}

.profile_name{
    padding-top: 95px;
}
.profile_text{
    padding-top: 50px;
    line-height: 2;
}

.strongs_container{
    padding-bottom: 155px;
}
.strongs_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.strongs_number{
    flex-shrink: 0;
    background-color: #2c82a6;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strongs_number p{
    font-size: 50px; 
    color: #ffffff;
    background-color: #2c82a6;
}

.strongs_titl{
    border-right: solid #2c82a6;
    border-top: solid #2c82a6;
    width: 850px;
    height: 75px;
   
}
.strongs_titl p{
    font-size: 25px;
    color: #2c82a6;
    text-align: left;
    padding: 25px;
}

.strongs_text{
    border-right: solid #2c82a6;
    border-top: solid #2c82a6;
    border-bottom: solid #2c82a6;
    width: 850px;
    height: 75px;
}

.strongs_text p{
    line-height: 1.75;
    padding: 0 25px;
}

.skill_list01 img,
.skill_list02 img,
.skill_list03 img{
    width: 80px;
}

.skill_list04 img{
    width: 150px;
    margin: 0 auto;
}

.skill_list05 img{
    width: 85px;
    margin: 0 auto;
}

h4{
    text-align: center;
    margin: 20px 0;
}

.skill_container p{
    text-align: left;
    line-height: 1.75;
    text-align: justify;
}

.skill_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    gap: 10%;
}

.skill_list01,
.skill_list02,
.skill_list03,
.skill_list04,
.skill_list05,
.skill_list06{
    width: 25%;
    text-align: center;
    margin-bottom: 120px;
}

.likes_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-bottom: 120px;
}

.likes_detail{
    width: 30%;
	height:	auto;
	overflow: hidden;
    position: relative;	
    margin-bottom: 50px;
}

.likes_detail .caption{
    font-size:	20px;
	text-align: center;
	padding-top:80px;
	color:	#ffffff;
}

.likes_detail .caption_detail{
    font-size:	16px;
	text-align: center;
	padding:25px 30px 0;
	color: #ffffff;
    text-align: left;
    line-height: 1.75;
}

.likes_detail .mask {
	width:	100%;
    height: 100%;
	position: absolute;
	top:0;
	left:0;
	opacity:0;	
	background-color:	rgba(44,130,166,0.5);	
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
    cursor: pointer;
}

.likes_detail:hover .mask {
	opacity:		1;	
}

.strongs_container_sp,
.skill_container_sp,
.skill_list04_sp,
.caption_detail_sp{
    display: none;
}

@media screen and (max-width: 767px) {
.strongs_container,
.skill_container,
.skill_list04_pc,
.caption_detail{
    display: none;
}

.about_nav ul li a::after {
    display: none;
}

.about_nav ul li a {
    display: inline-block;
}

.arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
  }
  .arrow:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #2c82a6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
.about h2{
    font-size: 15.3vw;
    padding: 70px 0;
}

.about_nav ul {
    display: block;
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
}

.about_nav li{
    padding-bottom: 35px;
}

h3{
    font-size: 12.8vw;
    text-align: center;
    padding-bottom: 60px;
}

.profile_container {
    display: block;
}

.profile_img {
    margin: 0 auto;
    max-width: 100%;
}

.profile_name{
    padding: 65px 0;
    text-align: center;
}

.profile_text {
    padding-bottom: 145px;
    padding-top: 0;
    margin: 0 35px;
    text-align: justify;
}

.profile_container{
    padding-bottom: 0;
}

.strongs_container_sp{
    display: block;
    padding-bottom: 85px;
}

.strongs_list{
    display: block;
    margin-bottom: 60px;
}
.strongs_{
    display: flex;
}

.strongs_number{
    width: 60px;
    height: 60px;
}

.strongs_number p{
    font-size: 23px;
}

.strongs_titl {
    width: calc(100% - 60px);
    height: 60px;
    border-right: none;
}

.strongs_titl p{
   padding: 20px;
   text-align: center;
   font-size: 18px;
}

.strongs_text {
    width: 100%;
    height: auto;
    border-right: none;
}

.strongs_text p {
    padding: 30px;
    text-align: justify;
}

.skill_container_sp{
    display: block;
}
.skill_container{
    display: block;
    padding: 0 30px;
    padding-bottom: 85px;
}

h4{
    text-align: left;
}

.skill_list04_sp{
    display: block;
}
.skill_list01,
.skill_list02,
.skill_list03,
.skill_list04, 
.skill_list05{
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;

}

.skill_list04 img {
    width: 80px;
}
.skill_list01 img,
.skill_list02 img,
.skill_list03 img,
.skill_list04 img,
.skill_list05 img{
    padding-right: 40px;
}

.likes_detail{
   width: 45%;
   gap: 10%;
}

.likes_container{
    gap:10px
}

.likes_detail .caption{
    padding-top: 10px;
}

.likes_detail .caption_detail_sp{
    display: block;
    padding: 10px 10px;
    font-size: 15px;
}
.caption_detail_sp{
font-size: 16px;
text-align: center;
color: #ffffff;
text-align: left;
line-height: 1.75;
}

.likes_detail:hover .mask {
	opacity: 0;	
}

.likes_detail .mask:hover{
    opacity: 0;
}
.likes_detail .mask.visible {
    opacity: 1;  
}
.likes_detail .caption,
.likes_detail .caption_detail_sp {
    transition: opacity 0.2s ease;
    opacity: 0; 
}


.likes_detail .mask.visible .caption,
.likes_detail .mask.visible .caption_detail_sp {
    opacity: 1; 
}

.likes_detail .mask.visible {
    opacity: 1;  /* visible クラスが追加されたら表示 */
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
}

/* アニメーション */
.blur{
    transition: all 0.5s;
    filter: blur(10px);
    &.scrollin{
      filter: blur(0);
    }
}

.box{
    opacity: 0;         
    transition: .8s;    
    position: relative; 
    top: 50px; 
  }

  .active {
    opacity: 1;        
    top: 0;            
  }

