@charset "utf-8";

/* header */

header {
  width: 100%;
  background-image: url(../images/back-100.jpg);
  padding: 20px 20px 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

}
.header_wap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #2c82a6;
  max-width: 1880px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header_reftbar{
    border-right: solid #2c82a6;
    width: 20%;
    height: 80px;
    background: repeating-linear-gradient(-45deg, #2c82a6, #2c82a6 5px, #f9f7f7 5px, #f9f7f7 10px);
}

.header_nav{
padding-right: 95px;
}

.header_nav ul{
  font-family: quincy-cf, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  width: 680px;
  margin: 0 auto;
}

.header_nav a{
opacity: 1.0;
}

nav ul li a {
  text-decoration: none;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  transition: .3s;
  position: relative;
  padding: 0 10px;
}

nav ul li a::after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  background: #2c82a6;
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: scale(0, 1);
  transition: .3s;
}

nav ul li a:hover {
  color: #2c82a6;
}

nav ul li a:hover::after {
  transform: scale(1, 1);
}

/* メインビジュアル */
.mainvisual{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1880px;
    box-sizing: border-box;
    padding-top: 80px;
}

.main_title{
    border-left: solid #2c82a6;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    width: 20%;
    height: auto;
    padding: 130px 0;
}

.main_title h2{
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  font-size:  6.77vw;;
  color: #2c82a6;
  margin: 0 0 0 auto;
  padding-right: 20px;
}

.main_contents{
  position: relative;
  width: 80%;
  height: auto;
  border-right: solid #2c82a6;
  border-left: solid #2c82a6;
}

.main_contents p{
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vw;
  color: #2c82a6;
  position: absolute;
  top: 5vw;
  left: 9.3vw;
}

.main_contents01{
    height: 250px;
    font-size: 15px;
    font-family: quincy-cf, serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    top: 5vw;
    right: 7.4vw;
    width: 13.2vw;
  }
  .main_contents01 svg {
    overflow: visible;
  }
  .main_contents01 path {
    fill: none;
  }
  .main_contents01 text {
    fill: #0089A7;
  }

.name01{
  font-family: "quincy-cf", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 17.1vw;
  color: #2c82a6;
  margin: 0;
  position: absolute;
  top: 10vw;
  left: -2vw;
}

.name02{
  font-family: "quincy-cf", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 17.1vw;
  color: #2c82a6;
  margin: 0;
  position: absolute;
  top: 27vw;
  left: 18.2vw;
}

.top_bar,
.works_bar{
    display: flex;
    max-width: 1880px;
    border-top: solid #2c82a6;
    border-bottom: solid #2c82a6;
    box-sizing: border-box;
    margin: 0 auto;
    height: 72px;
}
.top_leftbar,
.works_leftbar{
    border-right: solid #2c82a6;
    width: calc(100% - 200px);
    height: 69px;
    background-color: #f9f7f7;
    background-image:
     radial-gradient(#2c82a6 20%, transparent 20%),
     radial-gradient(#2c82a6 20%, transparent 20%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.top_rightbar,
.works_rightbar{
width:200px;
height: 75px;
border-top: 2px solid #2c82a6;

transform: rotate(20deg) translateY(35px) scale(1.05);
}



/* about */

#about{
  max-width: 1880px;
  border-left: solid #2c82a6;
  border-right: solid #2c82a6;
  margin: 0 auto;
}

.about_wrop{
    max-width: 1880px;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
}

.about_contents_box01 img{
  flex-shrink: 0;
  width: 450px;
  height: auto;
  margin: -20px auto;
  box-shadow: 10px 10px 4px #ccc ;
}

.about_text{
  width: 60%;
}

.about_text_detail{
padding-top: 55px;
text-align: left;
line-height: 2;
text-align: justify;
}
.about_contents{
  border-right: solid #2c82a6;
  width: calc(100% - 200px);
}

.about_contents_box01{
  display: flex;
  align-items: center;
  margin: 0 8.3%;
  gap: 50px;
}

.about_contents_box02{
  border-top: solid #2c82a6;
  height: 65px;
}

.about_title,
.service_title{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
}

.about_title h3,
.works_title h3,
.service_title h3,
.contact_title h3{
  font-family: quincy-cf, serif;
 font-weight: 700;
font-style: normal;
color: #2c82a6;
  font-size: 8.8vw;
  margin: 0 0 0 auto;
  text-align: center;
}

.about_contents_box02,
.works_contents_box02{
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
}


.c-button {
  outline: none;
  display: inline-block;
  width: inherit;
  min-width: 220px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  letter-spacing: 0.05em;
  opacity: 1 !important;
  font-size: 1.8vw;
  font-family: quincy-cf, serif;
font-weight: 700;
font-style: normal;
color: #2c82a6;
padding: 20px 0 0 20px;
}
.c-button span {
  position: relative;
  z-index: 99;
}
.c-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#2c82a6;
  transition: all 0.3s;
}
.c-button svg {
  width: 45px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 99;
  transition: all 0.2s;
}
.c-button:hover {
  color: #f9f7f7;
}
.c-button:hover:after {
  width: 100%;
}
.c-button:hover svg path {
  stroke: #f9f7f7;
  transition: all 0.1s 0.2s;
}

.about_contents_leftbar,
.works_contents_leftbar{
  width: 84%;
  border-right: solid #2c82a6;
}

.about_contents_rightbar,
.works_contents_rightbar{
  width: 20%;
  display: flex;
}

.about_bar{
  display: flex;
  max-width: 1880px;
  border-top: solid #2c82a6;
  border-bottom: solid #2c82a6;
  box-sizing: border-box;
  margin: 0 auto;
  height: 72px;
}

.about_leftbar{
  width: 200px;
  height: 75px;
  border-top: 2px solid #2c82a6;
  transform: rotate(20deg) translateY(35px) scale(1.05);
}

.about_rightbar{
  border-left: solid #2c82a6;
  width: calc(100% - 195px);
  height: 69px;
  background-color: #f9f7f7;
  background-image:
   radial-gradient(#2c82a6 20%, transparent 20%),
   radial-gradient(#2c82a6 20%, transparent 20%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/* works */

#works{
    max-width: 1880px;
    border: solid #2c82a6;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
}
.works_title{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  height: 565px;
  padding: 60px 0px;
  width: 200px;
  height: auto;
  border-right: solid #2c82a6;
}

.works_wrop{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}

.works_contents{
  width: calc(100% - 200px);
}

.works_design,
.works_photograph{
  width: 100%;
  display: flex;
  overflow: hidden;

  img {
    width: 100%;
    transition: all 0.3s ease;
    filter: grayscale(100%);
    
    &:hover {
      transform:scale(1.1);
      filter: grayscale(0);
    }
  }
}

.works_design_title,
.works_photograph_title{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
-webkit-text-orientation: mixed;
text-orientation: mixed;
font-family: "quincy-cf", serif;
font-weight: 600;
font-style: normal;
color: #2c82a6;
font-size: 2vw;
margin: 0 auto;
}

.works_design_title{
  transform: translateY(90%);
}

.works_photograph_title{
  transform: translateY(35%);
}

.design_title,
.photograph_title{
  width: 7%;
  border-bottom: solid #2c82a6;
}

.works_contents_box01{
  width: 100%;
}
.design_detail{
border-bottom: solid #2c82a6;
border-left: solid #2c82a6;
overflow: hidden;
}

.photograph_detail{
  border-left: solid #2c82a6;
  overflow: hidden;
  border-bottom: solid #2c82a6;
}

/* service */
.service_wrop{
max-width: 1880px;
border: solid #2c82a6;
border-top: none;
border-bottom: none;
box-sizing: border-box;
margin: 0 auto;
display: flex;
height: auto;
}

.service_contents{
  display: flex;
  width: calc(100% - 200px);
}

.service_detail_01,
.service_detail_02,
.service_detail_03{
width: 33.4%;
border-right: solid #2c82a6;
position: relative;
text-align: center;
}

.service_detail_01 img{
  padding-top: 92px;
  width: 49.3%;
}

.service_detail_02 img{
  padding-top: 95px;
  width: 60%;
}

.service_detail_03 img{
  padding-top: 97px;
  width: 54.7%;
}

h4{
  font-size: 18px;
  padding: 50px 0;
  text-align: center;
  font-family: "fot-tsukuardgothic-std", sans-serif;
font-weight: 400;
font-style: normal;
}

.service_detail_01 p,
.service_detail_02 p,
.service_detail_03 p{
  padding: 0 80px;
  text-align: left;
  line-height: 1.75;
  text-align: justify;
}

.service_bar{
    display: flex;
    max-width: 1880px;
    border: solid #2c82a6;
    box-sizing: border-box;
    margin: 0 auto;
    height: 72px;
}
.service_leftbar{
  width: 200px;
  height: 75px;
  border-top: 2px solid #2c82a6;
  transform: rotate(20deg) translateY(35px) scale(1.05);
}

.service_rightbar{
border-left: solid #2c82a6;
width: calc(100% - 200px);
height: 69px;
background: repeating-linear-gradient(-45deg, #2c82a6, #2c82a6 5px, #f9f7f7 5px, #f9f7f7 10px);
}

.service_bar02{
  max-width: 1880px;
  margin: 0 auto;
  height: 200px;
  border-right: solid #2c82a6;
  border-left: solid #2c82a6;;
}


/* contact */
.contact_wrop{
max-width: 1880px;
border: solid #2c82a6;
border-bottom: none;
box-sizing: border-box;
margin: 0 auto;
}

.contact_title{
  padding-top: 45px;
}

.contact_text{
  text-align: center;
  padding: 70px 0;
}

.contact_mail{
font-family: quincy-cf, serif;
font-weight: 700;
font-style: normal;
color: transparent;
-webkit-text-stroke: 1px rgb(44, 130, 166);
font-size: 5vw;
padding-bottom: 100px;
display: flex;
list-style: none;
padding-inline: 0;
margin-inline: 0;
overflow: hidden;
margin: 0;
}

.contact_mail li:hover {
  color: #2c82a6;
  }
/* liタグ */
.contact_mail li {
  color: transparent;
-webkit-text-stroke: 1px rgb(44, 130, 166);
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0.3em 0 0;
  margin: 0;
  animation: marquee-left 30s linear infinite;
}


/* アニメーション */
@keyframes marquee-left {
  100% {
    transform: translateX(-100%);
  }
}

/* フッダー */
.footer_wrop{
  max-width: 1880px;
  margin: 0 auto;
  background-color: #2c82a6;
}
.footer_nav ul{
  font-family: quincy-cf, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
}

.footer_nav ul a{
  color: #f9f7f7;
}
.footer_sns{
display: flex;
justify-content: center;
padding: 0;
}

.footer_sns li {
  width: 30px;
  margin: 70px 30px;
}

.footer_logo{
  padding-bottom: 70px ;
  background-color: #2c82a6;
}

.footer_logo p{
  background-color: #2c82a6;
  font-family: quincy-cf, serif;
  font-weight: 700;
  font-style: normal;
  color: #f9f7f7;
  font-size: 50px;
 text-align: center;
 margin: 0 auto;
}

.footer_copy{
  background-color: #2c82a6;
  color: #f9f7f7;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer_nav ul li a {
  text-decoration: none;
  color:#f9f7f7;
  display: block;
  height: 100%;
  align-items: center;
  transition: .3s;
  position: relative;
  padding: 0 10px;
}

.footer_nav ul li a::after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  background: #f9f7f7;
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: scale(0, 1);
  transition: .3s;
}

.footer_nav ul li a:hover {
  color: #f9f7f7;
}

.footer_nav a{
  opacity: 1.0;
  }

/* トップに戻る */
.totop{
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 70px;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
}

.active_01{
  opacity: 1;
  visibility: visible;
}


/* レシポンシブ */
.header_reftbar_sp,
.hamburger,
.header_nav_sp,
.header_reftbar_sp p,
.mainvisual_sp,
.mainvisual_sp p,
.main_contents_sp,
.top_bar_sp,
.about_contents_box02_sp,
.works_contents_box02_sp,
.contact_text_sp
.header_wap_sp,
.contact_text_sp,
.contact_mail_sp,
.contact_mail_sp02{
  display: none;
}


@media screen and (max-width:1499px){
  .service_detail_01 p,
  .service_detail_02 p,
  .service_detail_03 p {
   padding: 0 40px 50px;
  }
  
}
@media screen and (max-width: 767px) {
.header_reftbar,
.header_nav,
.top_bar,
.about_title,
.about_contents_box02,
.works_title,
.works_contents_box02,
.works_bar,
.service_title,
.service_bar,
.contact_title,
.contact_text,
.header_wap{
  display: none;
}

.c-button:hover {
  color: #2c82a6;
}
.c-button:hover:after {
  width: 0;
}
.c-button:hover svg path {
  stroke: #2c82a6;
  transition: all 0.1s 0.2s;
}

.contact_mail li:hover {
  color:transparent;
  }


.works_design,
.works_photograph:hover {
        transform:all 0.3s ease;
        filter: grayscale(0%);
    }
  
.works_design img,
.works_photograph img {
    filter: grayscale(0%);
}
nav ul li a:hover::after {
      transform: scale(0, 1);
    }
.header_wap_sp{
  display: block;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  border: solid #2c82a6;
  border-bottom: none;
}

.menu{
  width: 60px;
  height: 60px;
  border-bottom: solid #2c82a6;
  border-left: solid #2c82a6;
  position: relative;
}
.header_reftbar_sp{
  display: block;
}
.header_reftbar_sp p{
  display: block;
  font-family: quincy-cf, serif;
  font-weight: 700;
  font-style: normal;
  color: #2c82a6;
  font-size: 22px;
  text-align: left;
  line-height: 0.9;
  margin: 10px;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after{
  background: #2c82a6;
}
.hamburger{
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding-right: 40px;
  cursor: pointer;
  z-index: 9999;
}

.hamburger span{
  width: 30px;
  height: 2px;
  position: absolute;
  content: "";
  top:13px;
  transition: .3s;
  left: 50%;
  transform: translateX(-50%)
}

.hamburger span::before{
  width: 30px;
  height: 2px;
  position: absolute;
  content: "";
  top:-13px;
  transition: .3s;
}

.hamburger span::after{
  width: 30px;
  height: 2px;
  position: absolute;
  content: "";
  bottom:-13px;
  transition: .3s;
}

.open span{
  background-color: transparent;
}

.open span::before{
  transform: rotate(45deg);
  top:0;
}
.open span::after{
  transform: rotate(-45deg);
  top:0;
}

.header_nav_sp{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 130, 166, 0.8);
  z-index: 9998;
  top: 0;
  left: 0;
}

.header_nav_sp ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:80px;
  height: 100%;
}

.header_nav_sp li{
  color: #f9f7f7;
  font-family: quincy-cf, serif;
  font-weight: 400;
  font-style: normal;
}

/* メインビジュアル */
.mainvisual,
.main_contents p,
.main_contents,
.main_title,
.about_bar{
  display: none;
}

.mainvisual_sp{
  display: block;
  box-sizing: border-box;
  height: auto;
}

.main_contents_sp{
  display: block;
  width: 100%;
  height: auto;
  border-right: solid #2c82a6;
  border-left: solid #2c82a6;
}
.main_contents_sp p{
  display: block;
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 5.9vw;
  color: #2c82a6;
  padding-top: 50px;
  padding-left: 5.6%;
  padding-top: 80px;
}

.main_contents_sp h2{
  display: block;
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 10.26vw;
  line-height: 0.9;
  padding-top: 60px;
  padding-left: 5.6%;
  color: #2c82a6;
  margin: 0;
}

.main_contents01_sp{
  display: block;
  font-size: 13px;
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  position: absolute;
  top: 40vw;
  right: -40%;
  width: 64.1vw;
}


.main_contents01_sp svg{
  overflow: visible;
}

.main_contents01_sp path {
  fill: none;
}

.main_contents01_sp text {
  fill: #0089A7;
}

.name01_sp{
  font-family: "quincy-cf", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 33.3vw;
  color: #2c82a6;
  margin: 0;
  padding-top: 95px;
}

.name02_ps{
  font-family: "quincy-cf", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 33.3vw;
  color: #2c82a6;
  margin: 0;
  padding: 13.8vw 0 170px 8vw;
}

/* about */
.top_bar_sp{
  display: block;
  display: flex;
  border-bottom: solid #2c82a6;
  border-top: solid #2c82a6;
  box-sizing: border-box;
  margin: 0 auto;
  height: auto;
}

.top_leftbar_sp{
  width: 45%;
  height: auto;
}

.top_leftbar_sp h3{
  text-align: center;
}
.top_rightbar_sp{
  border-left: solid #2c82a6;
  width: 65%;
  background-color: #f9f7f7;
  background-image: radial-gradient(#2c82a6 20%, transparent 20%), radial-gradient(#2c82a6 20%, transparent 20%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.top_leftbar_sp h3{
  font-family: "quincy-cf", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 10.26vw;
  color: #2c82a6;
  margin: 0 auto;
  padding: 25px 0;
}

.about_contents{
  border-right:none ;
  width: 100%;
}

.about_contents_box01{
  display: block;
  margin: 0 auto;
}

.about_contents_box01 img {
  width: 360px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.about_text{
  width: 100%;
  text-align: center;
  padding: 90px 0;
}

.about_text_detail {
  margin: 0 20px;
}

.about_contents_box02_sp,
.works_contents_box02_sp{
   display: block;
}

.about_contents_topbar,
.works_contents_topbar{
  height: 65px;
  display: flex;
  justify-content: right;
}

.about_contents_topbar{
  border-top: solid #2c82a6;
}
.c-button{
  min-width: 100%;
  text-align: center;
  font-size: 30px;
}

.btn_animate01 {
  margin: 0 auto;
  animation: fuwafuwa 1s ease 0s infinite alternate;
  transform-origin:center;
  cursor: pointer;
  }
  @keyframes fuwafuwa {
  from {transform: scale(0.9,0.9);}
  to {transform: scale(1,1);}
  }

.about_contents_bottompbar{
  border-top: solid #2c82a6;
  display: block;
  height: 100px;
}

.triangle-wrapper {
  width: 100%;
  height: 100px;
}
svg {
  width: 100%;
  height: 100%;
}
.triangle {
  fill: none; 
  stroke: #2c82a6; 
  stroke-width: 2; 
}
.invisible-line {
  fill: none; 
  stroke: none; 
}

/* works */
.works_wrop,
.service_wrop{
  display: block;
}

.works_contents,
.service_contents{
  width: 100%;
  display: block;
}
.works_design,
.works_photograph{
  display: block;
}

.design_title,
.photograph_title{
  width: 100%;
}

.works_design_title,
.works_photograph_title{
  writing-mode:horizontal-tb;
  font-size: 7.69vw;
  text-align: center;
  padding: 30px 0;
}

.works_design_title {
  transform: none;
}

.works_photograph_title {
  transform: none;
}
.works_design, .works_photograph {
  img {
      filter: grayscale(0%);
  }
}

.design_detail{
  border-left: none;
  }
  .photograph_detail{
    border-left: none;
    border-bottom: solid #2c82a6;
  }
/* service */
.service_wrop{
  height: auto;
} 

.service_detail_01,
.service_detail_02,
.service_detail_03{
  width: 100%;
  border-right:none ;
}

.service_detail_01 p,
.service_detail_02 p,
.service_detail_03 p{
  padding: 0 45px;
}
.service_detail_01 img {
  padding-top: 125px;
}

.service_detail_03{
  padding-bottom: 125px;
}

.service_bar02 {
  margin: 0 auto;
  height: 200px;
  border-right: solid #2c82a6;
  border-left: solid #2c82a6;
  border-top: solid #2c82a6;
}

/* contact */
.contact_wrop{
  border-top:none ;
  padding-bottom: 100px;
}

.contact_text_sp{
  display: block;
  text-align: center;
  padding: 70px 0;
  line-height: 1.75;
}

.contact_mail {
  font-size: 11vw;
}

.contact_mail li {
  font-size: 1.5em;
}

.contact_mail_sp,
.contact_mail_sp02{
  display: block;
  font-family: quincy-cf, serif;
  font-weight: 700;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px rgb(44, 130, 166);
  font-size: 5vw;
  padding-bottom: 70px;
  display: flex;
  list-style: none;
  padding-inline: 0;
  margin-inline: 0;
  overflow: hidden;
  margin: 0;
}

.contact_mail_sp02 li {
  color: transparent;
-webkit-text-stroke: 1px rgb(44, 130, 166);
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0.3em 0 0;
  margin: 0;
  animation: marquee-left 30s linear infinite;
}

@keyframes marquee-left {
  100% {
    transform: translateX(-100%);
  }
}

.contact_mail_sp li {
  color: transparent;
-webkit-text-stroke: 1px rgb(44, 130, 166);
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0.3em 0 0;
  margin: 0;
  animation: marquee-right 30s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.contact_mail,
.contact_mail_sp,
.contact_mail_sp02{
  padding-bottom: 5px;
}

/* フッダー */
.footer_nav ul{
  display: block;
  text-align: center;
}

.footer_nav li{
  padding-bottom: 35px;
}

.footer_logo p {
  font-size: 20px;
}

.footer_copy {
  font-size: 8px;
}

.footer_sns li {
  width: 30px;
  margin: 25px 30px 50px;
}

.footer_logo {
  padding-bottom: 40px;
}

.totop {
  width: 50px;
  right: 10px;
}
}

/* アニメーション */
.fade-text{
  display: block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
  font-family: quincy-cf, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vw;
  color: #2c82a6;
  position: absolute;
  top: 5vw;
  left: 9.3vw;
}

.box{
  opacity: 0;         
  transition: .8s;    
  position: relative; 
  top: 50px; 
}

.active {
  opacity: 1;         
  top: 0;             
}

.blur{
  transition: all 0.5s;
  filter: blur(10px);
  &.scrollin{
    filter: blur(0);
  }
}

.circleText {
  overflow: visible;
  animation: rotation 18s linear infinite;
  &__circle {
    fill: none;
  }
  &__text {
    fill: #000;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mao Okita */
.wrapper {
  --_base-height: 95svh;
  --_note-height: 1lh;
  min-height: var(--_base-height);
}

.container {
  min-height: calc(var(--_base-height) - var(--_note-height));
  padding-top: var(--_note-height);
  display: grid;
  place-content: center;
}

.alternative {
  position: fixed !important;
  inset: 0 !important;
  display: block !important;
  inline-size: 4px !important;
  block-size: 4px !important;
  contain: strict !important;
  pointer-events: none !important;
  opacity: 0 !important;
}

[data-text-animation="fadeIn"] span {
  opacity: 0;
  transition: opacity 3s;
}

[data-text-animation="fadeIn"] span.is-active {
  opacity: 1;
}

.container{
  flex-wrap: wrap;
}

.transx:hover {
  transform: translateX(30px);
  transition: 1s;
}

.trans-x:hover {
  transform: translateX(-30px);
  transition: 1s;
}


.fadeIn2s {
  animation-name: fadeIn2s;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: translateX(-50px);
  opacity: 0;
}
@keyframes fadeIn2s {
  0% {
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.fadeIn2500ms {
  animation-name: fadeIn2500ms;
  animation-delay: 2500ms;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
  opacity: 0;
}
@keyframes fadeIn2500ms {
  0% {
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.fadeIn3s {
  animation-name: fadeIn3s;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: translateX(50px);
  opacity: 0;
}
@keyframes fadeIn2500ms {
  0% {
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


